@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFAFA;
  --foreground: #8B0043;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}